.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c6c6c6;
}

.input-user-container {
  margin-bottom: 16px;
}

.input-user {
  padding: 10px;
  width: 300px;
  height: 15px;
  border-radius: 8px;
  outline: none;
  margin-right: 8px;
}

.add-button {
  background-color: rgb(56, 56, 197);
  width: 85px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
}

.add-button:hover {
  background-color: rgb(90, 90, 250);
}

.title-container {
  text-align: center;
  margin-bottom: 16px;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.list-user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 8px;
}

.list-user-item {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.user-profile {
  padding: 8px;
  border-radius: 8px;
  width: 200px;
  background-color: antiquewhite;
}

.user-edit-input {
  height: 100%;
  width: 100%;
  background-color: rgb(209, 198, 184);
  border: none;
  outline: none;
}

.group-button {
  display: flex;
  gap: 5px;
}

.edit-button {
  color: white;
  background-color: rgb(24, 173, 24);
  outline: none;
  border: none;
  width: 65px;
  border-radius: 8px;
}

.edit-button:hover {
  background-color: rgb(13, 212, 13);
}

.delete-button {
  color: white;
  background-color: rgb(202, 35, 35);
  outline: none;
  border: none;
  width: 65px;
  border-radius: 8px;
}

.delete-button:hover {
  background-color: rgb(247, 53, 53);
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.navbar-item {
  cursor: pointer;
}
